+++
title = "TEN"
linkTitle = "一个普通的技术团队"

+++

{{< blocks/cover title="WE ARE TEN!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<!-- <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Download <i class="fab fa-github ml-2 "></i>
	</a> -->
	<p class="lead mt-5">务实，向上，开放!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


<!-- lead section -->
{{% blocks/lead color="primary" %}}
<h2>
	积极向上，勇敢务实，开放交流！
</h2>
{{% /blocks/lead %}}

<!-- second -->

<!-- test -->
<!-- {{< blocks/section >}}
<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>
{{< /blocks/section >}} -->

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fa-lightbulb" title="小玩具!" url="/blog" %}}
有点儿想法，玩点儿不一样的！说出来
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="一些开源的!" url="/about" %}}
欢迎拍砖，欢迎 [Pull Request](https://github.com/google/docsy-example/pulls) **GitHub**.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="来关注!" url="https://twitter.com/docsydocs" %}}
Hello World！孩子们！
{{% /blocks/feature %}}

{{< /blocks/section >}}
